/*  RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/*  CABEÇALHO */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    gap: 12px;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
    
}

nav a:hover {
    color: #e63946;
}
.menu-toggle{
    display: none;
}

/*  MENU SUSPENSO */
.dropdown {
    position: relative;
    top: 10px;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    top: 40px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    flex-direction: column;
    text-align: left;
}
.dropdown-content a{
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}



.responsivo{
    display: none;
}

#teze {
    transition: background-color 0.5s ease-in-out;
}
 
#teze.highlight {
    background-color: rgb(255, 255, 255);
}
/* Suaviza a rolagem para âncoras */
html {
    scroll-behavior: smooth;
}
 
/* Efeito de destaque quando o elemento é alcançado */
@keyframes highlight {
    0% { background-color: #ffffff; }
    50% { background-color: #ffffff; }
    100% { background-color: #ffffff; }
}
 
.highlight {
    animation: highlight 1.5s ease-in-out;
}
 



 

/* RODAPÉ */
footer {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
 
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*  ÍCONES DO RODAPÉ */
.contact-info i {
    font-size: 17px; /* Deixa os ícones do rodapé um pouco maiores */
    margin-right: 5px; /* Espaçamento entre ícone e texto */
    color: #e63946;
}
.contact-info a{
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.icones {
    display: none;
}

.footer-logo img {
    width: 200px;
}
 
.contact-info p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}
 
.location iframe {
    border-radius: 10px;
}
 
 
/* SEÇÃO DOCE HISTÓRIA */
 
/* SEÇÃO DOCE HISTÓRIA */
.nossa-historia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5.6%;
    padding: 0 10%;
}
 
.caixa-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}
 
.caixa {
    background: #fff;
    padding: 20px;
    width: 800px;
    border-radius: 12px;
    text-align: center;
    margin-top: 6%;
}
 

.caixa-container img {
    width: 500px;
    height: 472px;
    margin-top: 17%;
    border-radius: 10px;
    
}

 
.caixa h3 {
    font-size: 40px;
    color: #e63946;
    padding: 30px;
    font-weight: normal;
    margin-bottom: 15px;
    font-family: "ohno-softie-variable", sans-serif;
    font-variation-settings: 'wght' 623;
        
}
 
.caixa p {
    
    text-align: justify;
    margin-left: 0;
    font-size: 16px;
    color: #603624;
    font-weight: normal;
    margin-bottom: 15px;
    flex-grow: 1;
    font-family: "ohno-softie-variable",sans-serif;
}
 
/* Barra de Pesquisa */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #fff9f9;
    border-radius: 20px;
    padding: 2px 10px;
    background: #fff1fd;
    margin-right: 75px;
}
 
.search-container input {
    border: none;
    outline: none;
    padding: 5px;
    background: none;
    width: 150px;
}
 
.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: #e63946;
    font-size: 18px;
}
/*  ESTILIZAÇÃO DOS ÍCONES SOCIAIS */
.social-icons {
    display: flex;
    gap: 15px; /*espaçamento entre ícones */
    cursor: pointer;
}
 
.social-icons a {
    font-size: 28px; /* Ícones maiores */
    color: #013458;
    transition: transform 0.3s ease-in-out, color 0.3s;
}
 
.social-icons a:hover {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
    color: #003d65;
}
 
/*  ÍCONES DO RODAPÉ */
.contact-info i {
    font-size: 17px; /* Deixa os ícones do rodapé um pouco maiores */
    margin-right: 5px; /* Espaçamento entre ícone e texto */
    color: #e63946;
}
.contact-info a{
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.icones {
    display: none;
}



/*  MEDIA (RESPONSIVO) */
@media (max-width: 1000px) {
    nav {
        display: none;
        flex-direction: column;
        background: #fff;
        position:absolute;
        top: 50px;
        right: 10px;
        left: 0;
        width: 100%;
        padding: 10px;
    }
 
    .menu-icon {
        display: block;
    }
 
    .caixa-container, .categories, .footer-content {
        flex-direction: column;
       align-items: center;
    }

    .menu-toggle{
        display: flex;
        font-size: 25px;
    }

    .logo img {
        width: 100px;
    }

    .active{
        display: flex;
    }

    .dropdown{
        padding: 10px;
    }
    .dropdown-content{
        display: none;
        filter: opacity(0);
    }

    
    .social-icons a{
        font-size: 19px;
    }


    .search-container{
        display: none;
    }

    .search-container button{
        display: block;
    }


   

    .social-icons{
        align-items: center;
    }


    .contact-info span {
        display: none;
    }
    .contact-info p i {
        display: flex;
    }
    .contact-info {
        display: none;
    }
    

    .icones{
        display: flex;
        gap: 34px;
        bottom: 2%;
        font-size: 29px;
        padding: 4%;
        color: #e63946;
    }
    .icones a {
        color: #e63946;
    }

.diferenciais-container{
    margin-top: 30px;
    flex-wrap: nowrap;

}

.responsivo{
    display: flex;
}

.dropbtn{
    bottom: 10px;
    padding: 0px;
}


.caixa h3{
    flex-direction: column;
}

.footer-logo img {
    width: 75px;
}

/* RESPONSIVIDADE PARA SEÇÃO HISTÓRIA */
@media (max-width: 1024px) {
    .nossa-historia {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
 
    .caixa-container {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
 
    .caixa {
        width: 90%;
    }
 
    .caixa-container img {
        width: 100%;
        max-width: 400px;
        
    }
    footer {
        position: relative;
        margin-top: 20px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
 
@media (max-width: 768px) {
    .nossa-historia {
        padding: 0 5%;
    }
 
    .caixa {
        padding: 15px;
    }
 
    .caixa-container img {
        max-width: 300px;
    }
 
    .caixa h3 {
        font-size: 24px;
    }
 
    .caixa p {
        font-size: 15px;
    }
    footer {
        position: relative;
        margin-top: 20px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
 
@media (max-width: 480px) {
    .nossa-historia {
        margin-top: 15%;
    }
 
    .caixa {
        width: 95%;
        padding: 10px;
    }
 
    .caixa-container img {
        max-width: 300px;
        height: 300px;
    }
 
    .caixa h3 {
        font-size: 20px;
    }
 
    .caixa p {
        font-size: 15px;
    }
    footer {
        position: relative;
        margin-top: 20px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

/* RESPONSIVIDADE PARA O FOOTER */
@media (max-width: 768px) {
    footer {
        position: relative;
        margin-top: 20px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
}